<section>
 <header class="adoption-header">Animals Up For Adoption!</header>

<div class="nav-item-box">
    <ul>
    <li class="nav-item">
        <a type="button" class="nav-link active" href="/adoption?animal=true">DOGS</a>
    </li>
    <li class="nav-item">
        <a type="button" class="nav-link" href="/adoption?animal=false">CATS</a>
    </li>
    <li class="nav-item">
        <a type="button" class="nav-link" href="/adoption?hypoallergenic=true">HYPOALLERGENIC</a>
    </li>
    <li class="nav-item">
        <a type="button" class="nav-link" href="/adoption?sex=true">FEMALE ANIMALS</a>
    </li>
    <li class="nav-item">
        <a type="button" class="nav-link" href="/adoption?sex=false">MALE ANIMALS</a>
    </li>
    </ul>
</div>

<div>
           {{#each animals as |animal|}}
                <div class="card">
                    <img src={{animal.photo}} id="random-photo" alt="random-photo">
                    <div class="container">
                        <h4><b>Name: {{animal.name}}</b></h4>
                        <p>Breed: {{animal.breed}}</p>
                        <p>Age: {{animal.age}}</p>
                        {{#if animal.sex}}
                            <p>Female</p>
                        {{else}}
                            <p>Male</p>
                        {{/if}}
                        {{#if animal.hypoallergenic}}
                            <p>Hypoallergenic ✔️</p>
                        {{/if}}
                     </div>
                </div>
           {{/each}}
</div>

</section>




