<div class="row">
  <div class="col-md-5">
    {{#if randomDog}}
      <img src={{randomDog.photo}} id="random-featured-photo" alt="random-photo">
      <h3 class="featured-text">Featured Dog: {{randomDog.name}}</h3>
      <p class="featured-text">Age: {{randomDog.age}}</p>
      <p class="featured-text">Breed: {{randomDog.breed}}</p>
      <p class="featured-text">Sex: {{get_sex randomDog}}</p>
      <p class="featured-text">Hypoallergenic: {{get_hypo randomDog}}</p>
    {{else}}
      <p>No dogs found.</p>
    {{/if}}
  </div>
  <div class="col-md-5">
    {{#if randomCat}}
    <img src={{randomCat.photo}} id="random-featured-photo" alt="random-photo">
      <h3 class="featured-text">Featured Cat: {{randomCat.name}}</h3>
      <p class="featured-text">Age: {{randomCat.age}}</p>
      <p class="featured-text">Breed: {{randomCat.breed}}</p>
      <p class="featured-text">Sex: {{get_sex randomCat}}</p>
      <p class="featured-text">Hypoallergenic: {{get_hypo randomCat}}</p>
    {{else}}
      <p>No cats found.</p>
    {{/if}}
  </div>
</div>